@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap");

//spacing
$navheight: 60px;

//color vars
$primary: #232323;
$secondary: rgba(#b3aa9e, 0.2);
$blue: hsla(210, 92%, 57%, 1);
$muted: #4d4f51;
$light: #fefefe;
$transparent: transparent;

body,
html {
  font-family: "Rubik", sans-serif;
  color: $primary;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.Logo-dashboard {
  height: 12%;
  width: 12%;
}

.dashboard-table {
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  box-shadow: 1px 4px 5px rgba($primary, 0.1);
}

.dashboard-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.dashboard-table th {
  background-color: #f2f2f2;
}

.dashboard-header {
  text-align: center;
  font-size: 3rem;
}

.csv-download {
  text-align: center;
  width: 50%; /* Full width on mobile */
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.csv-download:hover {
  background-color: green;
}

@media screen and (max-width: 480px) {
  .dashboard-table {
    width: 90%;
  }
}
